{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Group</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for group in groups %}
    <tr>
      <td>{{group.name}}</td>   
       <td>
       <a href="{{path('assign_to_group',{id: group.id, userId: userId})}}" type="button" class="btn btn-sm btn-outline-success">Assign</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}